* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd"
    "sd1 sd1 sd1 mn mn mn mn sd2 sd2 sd2"
    "ft ft ft ft ft ft ft ft ft ft";
  grid-gap: 1rem;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

body * {
  border: 1px solid #000;
  padding: 1rem;
  height: 100px;
}

header {
  grid-area: hd;
}

main {
  grid-area: mn;
}

aside:nth-of-type(1) {
  grid-area: sd1;
}

aside:nth-of-type(2) {
  grid-area: sd2;
}

footer {
  grid-area: ft;
}

@media (max-width: 1100px) {
  body {
    grid-template-areas:
      "hd hd hd hd hd hd hd hd hd hd"
      "sd1 sd1 sd1 mn mn mn mn mn mn mn"
      "sd2 sd2 sd2 sd2 sd2 sd2 sd2 sd2 sd2 sd2"
      "ft ft ft ft ft ft ft ft ft ft";
  }
}

@media (max-width: 850px) {
  body {
    grid-template-areas:
      "hd hd hd hd hd hd hd hd hd hd"
      "sd1 sd1 sd1 sd1 sd1 sd1 sd1 sd1 sd1 sd1"
      "mn mn mn mn mn mn mn mn mn mn"
      "sd2 sd2 sd2 sd2 sd2 sd2 sd2 sd2 sd2 sd2"
      "ft ft ft ft ft ft ft ft ft ft";
  }
}
