body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 0.5rem;
}

select {
  max-width: 50%;
}

fieldset {
  border: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding-inline: 0;
}

fieldset:has([name="terms-agree"]) {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

fieldset:has([name="terms-agree"]) label {
  margin-bottom: 0;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-block: 1rem;
  border-radius: 0.2rem;
}
